body {
    background-color: #F1F0FF;
}

#wrapper {
    background-color: #FFF;
    margin-bottom: 100px;
    min-height: 70%;
}

.btn {
    border-radius: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #FFE6D1;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.marg2 {
    margin: 2px;
}

/* BUTTONS */
.btn {
    letter-spacing: 0.6px;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

/* buttons colors */
.btn-success {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #65b245;
}

.btn-success:hover {
    color: #fff;
    border: none;
    background-color: #007D3D;
}

.btn-warning {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #FBC70E;
}

.btn-warning:hover {
    color: #fff;
    border: none;
    background-color: #e5b51c;
}

.btn-danger {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #e02626;
}

.btn-danger:hover {
    color: #fff;
    border: none;
    background-color: #B11B1B;
}

.btn-info {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #60c2e8;
}

.btn-info:hover {
    color: #fff;
    border: none;
    background-color: #1A8FBF;
}

.btn-gold {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #b7ac25;
}

.btn-gold:hover {
    color: #fff;
    border: none;
    background-color: #99901f;
}

.btn-invert {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #414142;
}

.btn-invert:hover {
    color: #fff;
    border: none;
    background-color: #212122;
}

.btn-default {
    color: #212122;
    border: none;
    border-radius: 1px;
    background-color: #fff;
}

.btn-default:hover {
    color: #212122;
    border: none;
    background-color: #e3e4e5;
}

/* buttons with icons */
.btn.btn-icon i {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.btn-danger.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

/* btn-super (sp) */
.btn-sp {
    padding: 16px 22px;
    font-size: 20px;
}

/* btn-lg */
.btn-lg.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 12px 13px;
    font-size: 14px;
}

.btn-lg.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-lg.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 12px 13px;
    font-size: 14px;
}

.btn-lg.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-lg.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 12px 13px;
    font-size: 14px;
}

.btn-lg.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-lg.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 12px 13px;
    font-size: 14px;
}

.btn-lg.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-lg.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 12px 13px;
    font-size: 14px;
}

.btn-lg.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-lg.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 12px 13px;
    font-size: 14px;
}

/* btn-sm */
.btn-sm.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 7px 12px;
    font-size: 14px;
}

.btn-sm.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-sm.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 7px 12px;
    font-size: 14px;
}

.btn-sm.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-sm.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 7px 12px;
    font-size: 14px;
}

.btn-sm.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-sm.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 7px 12px;
    font-size: 14px;
}

.btn-sm.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-sm.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 7px 12px;
    font-size: 14px;
}

.btn-sm.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-sm.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 7px 12px;
    font-size: 14px;
}

/* btn-xs */
.btn-xs.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 3px 14px;
    font-size: 14px;
}

.btn-xs.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-xs.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 3px 14px;
    font-size: 14px;
}

.btn-xs.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-xs.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 3px 14px;
    font-size: 14px;
}

.btn-xs.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-xs.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 3px 14px;
    font-size: 14px;
}

.btn-xs.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-xs.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 3px 14px;
    font-size: 14px;
}

.btn-xs.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}

.btn-xs.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 3px 14px;
    font-size: 14px;
}

/* DROPDOWN-MENU */
.dropdown-menu.dropdown-success {
    background-color: #65B245;
    border-radius: 1px;
    border: none;
}

.dropdown-menu.dropdown-success > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-success > li > a:hover {
    background-color: #007D3D;
    color: #fff;
}

.dropdown-menu.dropdown-danger {
    background-color: #E02626;
    border-radius: 1px;
    border: none;
}

.dropdown-menu.dropdown-danger > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-danger > li > a:hover {
    background-color: #B11B1B;
    color: #fff;
}

.dropdown-menu.dropdown-warning {
    background-color: #FBC70E;
    border-radius: 1px;
    border: none;
}

.dropdown-menu.dropdown-warning > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-warning > li > a:hover {
    background-color: #e5b51c;
    color: #fff;
}

.dropdown-menu.dropdown-gold {
    background-color: #B7AC25;
    border-radius: 1px;
    border: none;
}

.dropdown-menu.dropdown-gold > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-gold > li > a:hover {
    background-color: #99901f;
    color: #fff;
}

.dropdown-menu.dropdown-info {
    background-color: #60C2E8;
    border-radius: 1px;
    border: none;
}

.dropdown-menu.dropdown-info > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-info > li > a:hover {
    background-color: #1A8FBF;
    color: #fff;
}

.dropdown-menu.dropdown-invert {
    background-color: #111;
    border-radius: 1px;
    border: none;
    color: #fff;
}

.dropdown-menu.dropdown-invert > li > a {
    color: #fff;
}

.dropdown-menu.dropdown-invert:hover {
    background-color: #212122;
}

.dropdown-menu.dropdown-invert > li > a:hover {
    background-color: #111;
    color: #fff;
}

.dropdown-menu.dropdown-default {
    background-color: #E3E4E4;
    border-radius: 1px;
    box-shadow: none;
    border: none;
}

.dropdown-menu.dropdown-default > li > a {
    color: #212122;
}

.dropdown-menu.dropdown-default > li > a:hover {
    background-color: #d0d0d0;
    color: #212122;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #FFF;
}

/* PANELS */
/* panel invert */
.panel-invert > .panel-heading {
    color: #FFF;
    background-color: #212122;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-invert > .panel-heading > .panel-options > a.bg {
    background-color: #4F5A6B;
    margin-left: 5px;
}

.panel-invert > .panel-heading > .panel-title > a {
    color: #fff;
    text-decoration: none;
}

.panel-invert > .panel-heading > .panel-title > a:hover {
    color: #bbcad2;
}

.panel-invert > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-invert > .panel-collapse > .panel-body {
    background-color: #363c44;
    line-height: 22px;
    color: #89949a;
}

.panel-invert > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-invert {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

/* panel default */
.panel-default > .panel-heading {
    color: #212122;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-default > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-default {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-default > .panel-heading > .panel-options > a.bg {
    background-color: #e3e4e4;
    margin-left: 5px;
}

.panel-default > .panel-heading > .panel-title > a {
    color: #212122;
    text-decoration: none;
}

.panel-default > .panel-heading > .panel-title > a:hover {
    color: #89949a;
}

.panel-default > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-default > .panel-collapse > .panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}

/* panel success */
.panel-success > .panel-heading {
    color: #007D3D;
    background-color: #bae8b9;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-success > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-success {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-success > .panel-heading > .panel-options > a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}

.panel-success > .panel-heading > .panel-title > a {
    color: #007D3D;
    text-decoration: none;
}

.panel-success > .panel-heading > .panel-title > a:hover {
    color: #005529;
}

.panel-success > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-success > .panel-collapse > .panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}

/* panel danger */
.panel-danger > .panel-heading {
    color: #B11B1B;
    background-color: #f4bfbf;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-danger > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-danger {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-danger > .panel-heading > .panel-options > a.bg {
    background-color: #DC6D6D;
    margin-left: 5px;
}

.panel-danger > .panel-heading > .panel-title > a {
    color: #B11B1B;
    text-decoration: none;
}

.panel-danger > .panel-heading > .panel-title > a:hover {
    color: #831212;
}

.panel-danger > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(88, 0, 0, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-danger > .panel-collapse > .panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}

/* panel info*/
.panel-info > .panel-heading {
    color: #31708F;
    background-color: #A7DCF2;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-info > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-info {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-info > .panel-heading > .panel-options > a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}

.panel-info > .panel-heading > .panel-title > a {
    color: #007D3D;
    text-decoration: none;
}

.panel-info > .panel-heading > .panel-title > a:hover {
    color: #005529;
}

.panel-info > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-info > .panel-collapse > .panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}

/* panel warning */
.panel-warning > .panel-heading {
    color: #8A6D3B;
    background-color: #F8E8AE;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-warning > .panel-heading > .panel-options > a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.panel-warning {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.panel-warning > .panel-heading > .panel-options > a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}

.panel-warning > .panel-heading > .panel-title > a {
    color: #007D3D;
    text-decoration: none;
}

.panel-warning > .panel-heading > .panel-title > a:hover {
    color: #005529;
}

.panel-warning > .panel-heading > .panel-options > a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.panel-warning > .panel-collapse > .panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}

.panel-heading > .panel-options > a {

}

.panel-heading > .panel-options > a {

}

.clip-body {
    margin-bottom: 20px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-heading:before, .panel-heading:after {
    content: " ";
    display: table;
}

.panel-heading > .panel-title {
    float: left;
}

.panel-heading > .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading:after {
    clear: both;
}

.close {
    float: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:hover {
    opacity: 1;
}

/* BACKGROUND COLOR */
.bg-gray-light {
    background-color: #f6f8fa !important;
    color: #414142 !important;
}

.bg-default {
    background-color: #e3e4e5 !important;
    color: #414142 !important;
}

.bg-success {
    background-color: #65b245 !important;
    color: #fff !important;
}

.bg-warning {
    background-color: #FBC70E !important;
    color: #fff !important;
}

.bg-danger {
    background-color: #e02626 !important;
    color: #fff !important;
}

.bg-info {
    background-color: #60c2e8 !important;
    color: #fff !important;
}

.bg-gold {
    background-color: #b7ac25 !important;
    color: #fff !important;
}

.bg-invert {
    background-color: #414142 !important;
    color: #fff !important;
}

.bg-dark {
    background-color: #414142 !important;
    color: #fff !important;
}

/* BACKGROUND COLOR LIGHT */
.bg-gray-light {
    background-color: #f6f8fa !important;
    color: #414142 !important;
}

/**

**/



.breadcrumb {
    width: 100%;
    padding: 1px 15px;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: #525252;
}

.breadcrumb a:hover {
    color: #000;
}

.breadcrumb > .active {
    color: #5a675b;
}
