body {
    background-image: -webkit-linear-gradient(bottom, #F4E2C9 20%, #F4D7C9 100%);
    background-image: -ms-linear-gradient(bottom, #F4E2C9 20%, #F4D7C9 100%);
    background-image: linear-gradient(to bottom, #F4E2C9 20%, #F4D7C9 100%);
}

.btn {
    border-radius: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #FFE6D1;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


.marg2{
    margin: 2px;
}

/* BUTTONS */
.btn {
    letter-spacing: 0.6px;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
/* buttons colors */
.btn-success {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #65b245;
}
.btn-success:hover {
    color: #fff ;
    border: none ;
    background-color: #007D3D;
}
.btn-warning {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #FBC70E;
}
.btn-warning:hover {
    color: #fff ;
    border: none ;
    background-color: #e5b51c;
}
.btn-danger {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #e02626;
}
.btn-danger:hover {
    color: #fff ;
    border: none ;
    background-color: #B11B1B;
}
.btn-info {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #60c2e8;
}
.btn-info:hover {
    color: #fff ;
    border: none ;
    background-color: #1A8FBF;
}
.btn-gold {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #b7ac25;
}
.btn-gold:hover {
    color: #fff ;
    border: none ;
    background-color: #99901f;
}
.btn-invert {
    color: #fff;
    border: none;
    border-radius: 1px;
    background-color: #414142;
}
.btn-invert:hover {
    color: #fff ;
    border: none ;
    background-color: #212122;
}
.btn-default {
    color: #212122;
    border: none;
    border-radius: 1px;
    background-color: #fff;
}
.btn-default:hover {
    color: #212122 ;
    border: none ;
    background-color: #e3e4e5;
}

/* buttons with icons */
.btn.btn-icon i {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.btn-danger.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
/* btn-super (sp) */
.btn-sp {
    padding: 16px 22px;
    font-size: 20px;
}
/* btn-lg */
.btn-lg.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 12px 13px;
    font-size: 14px;
}
.btn-lg.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-lg.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 12px 13px;
    font-size: 14px;
}
.btn-lg.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-lg.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 12px 13px;
    font-size: 14px;
}
.btn-lg.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-lg.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 12px 13px;
    font-size: 14px;
}
.btn-lg.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-lg.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 12px 13px;
    font-size: 14px;
}
.btn-lg.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-lg.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 12px 13px;
    font-size: 14px;
}
/* btn-sm */
.btn-sm.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 7px 12px;
    font-size: 14px;
}
.btn-sm.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-sm.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 7px 12px;
    font-size: 14px;
}
.btn-sm.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-sm.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 7px 12px;
    font-size: 14px;
}
.btn-sm.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-sm.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 7px 12px;
    font-size: 14px;
}
.btn-sm.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-sm.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 7px 12px;
    font-size: 14px;
}
.btn-sm.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-sm.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 7px 12px;
    font-size: 14px;
}
/* btn-xs */
.btn-xs.btn-danger.btn-icon i {
    background-color: #B11B1B;
    padding: 3px 14px;
    font-size: 14px;
}
.btn-xs.btn-success.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-xs.btn-success.btn-icon i {
    background-color: #007D3D;
    padding: 3px 14px;
    font-size: 14px;
}
.btn-xs.btn-warning.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-xs.btn-warning.btn-icon i {
    background-color: #e5b51c;
    padding: 3px 14px;
    font-size: 14px;
}
.btn-xs.btn-info.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-xs.btn-info.btn-icon i {
    background-color: #1A8FBF;
    padding: 3px 14px;
    font-size: 14px;
}
.btn-xs.btn-gold.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-xs.btn-gold.btn-icon i {
    background-color: #99901f;
    padding: 3px 14px;
    font-size: 14px;
}
.btn-xs.btn-invert.btn-icon {
    position: relative;
    padding-right: 39px;
    border: 0;
}
.btn-xs.btn-invert.btn-icon i {
    background-color: #212122;
    padding: 3px 14px;
    font-size: 14px;
}


















/* DROPDOWN-MENU */
.dropdown-menu.dropdown-success {
    background-color: #65B245;
    border-radius: 1px;
    border: none;
}
.dropdown-menu.dropdown-success > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-success > li > a:hover {
    background-color: #007D3D;
    color: #fff;
}
.dropdown-menu.dropdown-danger {
    background-color: #E02626;
    border-radius: 1px;
    border: none;
}
.dropdown-menu.dropdown-danger > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-danger > li > a:hover {
    background-color: #B11B1B;
    color: #fff;
}
.dropdown-menu.dropdown-warning {
    background-color: #FBC70E;
    border-radius: 1px;
    border: none;
}
.dropdown-menu.dropdown-warning > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-warning > li > a:hover {
    background-color: #e5b51c;
    color: #fff;
}
.dropdown-menu.dropdown-gold {
    background-color: #B7AC25;
    border-radius: 1px;
    border: none;
}
.dropdown-menu.dropdown-gold > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-gold > li > a:hover {
    background-color: #99901f;
    color: #fff;
}
.dropdown-menu.dropdown-info {
    background-color: #60C2E8;
    border-radius: 1px;
    border: none;
}
.dropdown-menu.dropdown-info > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-info > li > a:hover {
    background-color: #1A8FBF;
    color: #fff;
}
.dropdown-menu.dropdown-invert {
    background-color: #111;
    border-radius: 1px;
    border: none;
    color: #fff;
}
.dropdown-menu.dropdown-invert > li > a {
    color: #fff;
}
.dropdown-menu.dropdown-invert:hover {
    background-color: #212122;
}
.dropdown-menu.dropdown-invert > li > a:hover {
    background-color: #111;
    color: #fff;
}
.dropdown-menu.dropdown-default {
    background-color: #E3E4E4;
    border-radius: 1px;
    box-shadow: none;
    border: none;
}
.dropdown-menu.dropdown-default > li > a {
    color: #212122;
}
.dropdown-menu.dropdown-default > li > a:hover {
    background-color: #d0d0d0;
    color: #212122;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #FFF;
}


/* PANELS */
/* panel invert */
.panel-invert>.panel-heading {
    color: #FFF;
    background-color: #212122;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-invert>.panel-heading>.panel-options>a.bg {
    background-color: #4F5A6B;
    margin-left: 5px;
}
.panel-invert>.panel-heading>.panel-title > a {
    color: #fff;
    text-decoration: none;
}
.panel-invert>.panel-heading>.panel-title > a:hover {
    color: #bbcad2;
}
.panel-invert>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-invert>.panel-collapse>.panel-body {
    background-color: #363c44;
    line-height: 22px;
    color: #89949a;
}
.panel-invert>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-invert {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
/* panel default */
.panel-default>.panel-heading {
    color: #212122;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-default>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-default {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-default>.panel-heading>.panel-options>a.bg {
    background-color: #e3e4e4;
    margin-left: 5px;
}
.panel-default>.panel-heading>.panel-title > a {
    color: #212122;
    text-decoration: none;
}
.panel-default>.panel-heading>.panel-title > a:hover {
    color: #89949a;
}
.panel-default>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-default>.panel-collapse>.panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}
/* panel success */
.panel-success>.panel-heading {
    color: #007D3D;
    background-color: #bae8b9;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-success>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-success {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-success>.panel-heading>.panel-options>a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}
.panel-success>.panel-heading>.panel-title > a {
    color: #007D3D;
    text-decoration: none;
}
.panel-success>.panel-heading>.panel-title > a:hover {
    color: #005529;
}
.panel-success>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-success>.panel-collapse>.panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}
/* panel danger */
.panel-danger>.panel-heading {
    color: #B11B1B;
    background-color: #f4bfbf;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-danger>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-danger {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-danger>.panel-heading>.panel-options>a.bg {
    background-color: #DC6D6D;
    margin-left: 5px;
}
.panel-danger>.panel-heading>.panel-title > a {
    color: #B11B1B;
    text-decoration: none;
}
.panel-danger>.panel-heading>.panel-title > a:hover {
    color: #831212;
}
.panel-danger>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(88, 0, 0, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-danger>.panel-collapse>.panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}
/* panel info*/
.panel-info>.panel-heading {
    color: #31708F;
    background-color: #A7DCF2;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-info>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-info {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-info>.panel-heading>.panel-options>a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}
.panel-info>.panel-heading>.panel-title > a {
    color: #007D3D;
    text-decoration: none;
}
.panel-info>.panel-heading>.panel-title > a:hover {
    color: #005529;
}
.panel-info>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-info>.panel-collapse>.panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}
/* panel warning */
.panel-warning>.panel-heading {
    color: #8A6D3B;
    background-color: #F8E8AE;
    padding: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-warning>.panel-heading>.panel-options>a i {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.panel-warning {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.panel-warning>.panel-heading>.panel-options>a.bg {
    background-color: #8DC178;
    margin-left: 5px;
}
.panel-warning>.panel-heading>.panel-title > a {
    color: #007D3D;
    text-decoration: none;
}
.panel-warning>.panel-heading>.panel-title > a:hover {
    color: #005529;
}
.panel-warning>.panel-heading>.panel-options>a {
    display: inline-block;
    color: rgba(0, 68, 33, 0.7);
    text-align: center;
    line-height: 1;
    padding: 6px 7px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.panel-warning>.panel-collapse>.panel-body {
    background-color: #fff;
    line-height: 22px;
    color: #414142;
}



.panel-heading>.panel-options>a {

}
.panel-heading>.panel-options>a {

}
.clip-body {
    margin-bottom: 20px;
}


.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-heading:before, .panel-heading:after {
    content: " ";
    display: table;
}
.panel-heading>.panel-title {
    float: left;
}
.panel-heading>.panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading:after {
    clear: both;
}
.close {
    float: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover {
    opacity: 1;
}


/* BACKGROUND COLOR */
.bg-gray-light{
    background-color: #f6f8fa !important;
    color: #414142 !important;
}
.bg-default{
    background-color: #e3e4e5 !important;
    color: #414142 !important;
}
.bg-success{
    background-color: #65b245 !important;
    color: #fff !important;
}
.bg-warning{
    background-color: #FBC70E !important;
    color: #fff !important;
}
.bg-danger{
    background-color: #e02626 !important;
    color: #fff !important;
}
.bg-info{
    background-color: #60c2e8 !important;
    color: #fff !important;
}
.bg-gold{
    background-color: #b7ac25 !important;
    color: #fff !important;
}
.bg-invert{
    background-color: #414142 !important;
    color: #fff !important;
}
.bg-dark{
    background-color: #414142 !important;
    color: #fff !important;
}
/* BACKGROUND COLOR LIGHT */
.bg-gray-light{
    background-color: #f6f8fa !important;
    color: #414142 !important;
}



/**

**/

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 9px;
    font-size: 14px;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-success .form-control  {
    background-color: #e6ffe7;
    border-color: #3c763d;
}

.has-error .form-control {
    background-color: #ffe7ef;
    border-color: #a94442;
}
.form-control:focus, .form-control:active {
    background-color: #EDFDFF;
    border-color: #8a8ea9;
}
.nav-tabs > li > a {
    border-radius: 1px 1px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
}


h1 {
    display: block;
    position: relative;
    color: #fff;
    margin-top: 0;
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-left: -18px;
    margin-right: -18px;
    background: #a94442;
    background-image: -moz-linear-gradient(#FF7373, #a94442);
    background-image: -webkit-linear-gradient(#FF7373, #a94442);
    background-image: -ms-linear-gradient(#FF7373, #a94442);
    background-image: linear-gradient(#FF7373, #a94442);
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

h1:before, h1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}
h1:before {
    border-width: 0 10px 10px 0;
    border-right-color: #654443;
    left: 0;
}
h1:after {
    border-width: 0 0 10px 10px;
    border-left-color: #654443;
    right: 0;
}


h2, .h2 {
    font-size: 30px;
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
    margin-top: 0px;
    margin-left: -22px;
}

h3, .h3 {
    font-size: 24px;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
    margin-top: 0px;
    margin-left: -25px;
}

.goal .navbar-brand {
    color: #FF7373 !important;
    font-size: 26px;
}
.goal .navbar-inverse{
    border-bottom: 5px #FF7373 solid;
}





#wraper {
    position: relative;
    min-height: 100%;
}

#main {
    margin-top: 100px;
    padding-bottom: 80px;
    height: 100%;
}

header#header {
    margin-bottom: 10px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    border-color: #080808;
    border-top: 5px #FF7373 solid;
}

.bg {
    background: url('/images/bgparalax.jpg') repeat;
    position: fixed;
    width: 100%;
    height: 300%;
    top:0;
    left:0;
    z-index: -2;
}

.bg-front {
    background: url('/images/bgparalax2-min.png') repeat;
    position: fixed;
    width: 100%;
    height: 200%;
    top:0;
    left:0;
    z-index: -1;
}

.sidebar a {
    display: block;
    padding: 5px 3px 5px 5px;
    margin: 0 0 2px 0;
    font-size: 18px;
    background-color: #DFECFF;

    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.sidebar a:hover {
    background-color: #337AB7;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 4px #FF7373 solid;
}

.logo {
    display: block;
    margin: 4px 10px 0 0;
}


.breadcrunb-fixed-wrapper {
    top: 50px;
    position: fixed;
    z-index: 100;
}

.breadcrumb {
    width: 100%;
    background-color: #FF7373;
}

.breadcrumb a {
    color: #FFF;
}

.breadcrumb a:hover{
    color: #000;
}

.breadcrumb > .active {
    color: #565867;
}

.top-block {

}
