.navbar.navbar-inverse {
    margin-bottom: 0;
}
.inverse, .navbar-inverse, .panel-default > .panel-heading.inverse{
    background-color: #000000;
    border-color: #080808;
    color: #ffffff;
}

.panel-heading.inverse a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.panel-heading.inverse a:hover{
    color: #FFF;
}


.navbar-inverse .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #1f1f1f;
}

.navbar-inverse .navbar-nav .dropdown-menu a{
    color: #ffffff;
}
.navbar-inverse .navbar-nav .dropdown-menu a:hover{
    color: #303030;
}

span.image-tattoo:hover {word-spacing: 0}

.left-image-panel {
    /*margin-left: -60px;*/
    display:none;
    cursor: pointer;
    left: 0;
}
.right-image-panel {
    margin-left: -60px;
    display:none;
    cursor: pointer;
    right: 0;
}
span.image-tattoo:hover .left-image-panel {
    width: 60px;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: #121b2c;
    opacity: 0.85;
    font-size: 24px;
    display: block;
    position: absolute;
    border-radius: 0 10px 10px 0  ;
    color: white;
}
span.image-tattoo:hover .right-image-panel {
    width: 60px;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: #121b2c;
    opacity: 0.85;
    font-size: 24px;
    display: block;
    position: absolute;
    border-radius:  10px 0 0 10px;
    color: white;
}

.breadcrumb {
    padding: 1px 10px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #FCFFFD;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jBox-TooltipBorder .jBox-container {
    /*border-radius: 5px;*/
    border: 0px solid #52a2cb !important;
    box-shadow: 0px 0px 14px 5px #000000 !important;
}

.jBox-TooltipBorder .jBox-pointer-top, .jBox-TooltipBorder .jBox-pointer-bottom {
    width: 34px;
    height: 12px !important;
}