.circle strong {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
}

.circle {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
